/* E-COMMERCE */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#cart {
    background-color: #f4f4f4;
    padding: 1rem;
    margin: 1rem auto;
    width: 300px;
    border-radius: 5px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.product {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.addToCart, .removeFromCart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.addToCart:hover, .removeFromCart:hover {
    background-color: #555;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bolder;
}

h1{
    font-size: 70px;
}

h4{
    color: black;
}

p{
    color: black;
    font-weight: bold;
}

img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ff6f61;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

#search:focus {
    border-color: #e64a19;
    box-shadow: 0 0 10px rgba(230, 74, 25, 0.3);
}

#search::placeholder {
    color: #999;
}
